<% if task.errors.present? %>
  <ul id="error_explanation">
    <% task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @task, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', id: 'task_name' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, row: 5, class: 'form-control', id: 'task_content' %>
  </div>
  <div class="form-group">
    <%= f.label :end_deadline %>
    <%= f.date_field :end_deadline, class: 'form-control', id: 'task_end_deadline' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>