<h1> タスクの詳細</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧', tasks_path, class: 'nav-link' %>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th>ID</th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
      <th>名称</th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= simple_format(h(@task.content), {}, sanitize: false, wrapper_tags: "div") %></td>
    </tr>
    <tr>
      <th>期限日</th>
      <td><%= @task.end_deadline %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @task.status %></td>
    </tr>
    <tr>
      <th>優先度</th>
      <td><%= @task.priority %></td>
    </tr>
    <tr>
      <th>作成日時</th>
      <td><%= @task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td><%= @task.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
  </tbody>
</table>
<%= link_to '編集', edit_task_path, class: 'btn btn-primary mr-3' %>